* {
  font-family: open sans;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  height: 100vh;
  background-color: #1f1f3d;
  color: #eaeaf4;
}

h3 {
  margin-left: 5%;
  color: #e9e9f3;
}

.side-bar-line{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  padding-bottom: 18px;
}

p {
  margin-left: 5%;
  margin-bottom: 8%;
  font-weight: bold;
  font-size: 14px;
  color: #bfbfdd;
}

.show-starred-button {
  width: 90%;
  margin: 5px auto;
  background-color: #5356a4;
  color: #e9e9f3;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 21px;
  border: 1px solid #353567;
  border-radius: 3%;
}

.main-body {
  width: 75%;
  height: 100vh;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #a9aad2;
  height: 45vh;
}

form {
  width: 50%;
}

label {
  font-weight: bold;
  color: #1f1f3d;
  font-size: 13px;
}

.title-input {
  width: 91%;
  padding: 10px 20px;
  border-radius: 3%;
  border: 2px solid #5356a4;
}

.body-input {
  width: 91%;
  padding: 30px 20px;
  border-radius: 3%;
  border: 2px solid #5356a4;
}

.form-save-button{
  width: 50%;
  padding: 10px 20px;
  background-color: #5356a4;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 17px 0;
  border-radius: 3%;
  cursor: pointer;
}

.search-bar {
  display: flex;
  border: 1px solid #5356a4;
  margin-bottom: 15px;
  width: 50%;
}

.search-icon {
  width: 10%;
  height: 39px;
  background-color: #5356a4;
  padding: 5px;
}

.search-input {
  width: 90%;
  height:35px;
  padding: 5px;
}

.disable-button{
  background-color: #eaeaf4;
  color: #1f1f3d;
  cursor: default;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #eaeaf4;
  height: 55vh;
}

.card-article {
  justify-content: space-evenly;
  margin: 20px;
  height: 40%;
  width: 25%;
  border: 1px solid black;
}

.white-star-icon,
.white-delete-icon,
.comment-icon {
  width: 15%;
}

.hidden {
  display: none!important;
}

.white-delete-icon {

}

.card-top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f3d;
  margin-top: 0;
  height: 15%;
}

.card-body {
    background-color: #fff;
    color: #1f1f3d;
    height: 70%;
}

.card-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #a9aad2;
  color: #fff;
  height: 15%;
}

.bottom-bar-comment {
  /* margin-bottom: 10%; */
  margin: auto 0 auto 0;
}
